{% load staticfiles %}

<html>
  <head>

    {% include 'material/includes/material_css.html' %}
    <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
    {% include 'material/includes/material_js.html' %}


    <title>
      {% block title %} - EasyReturns
      {% endblock %}
    </title>
    {% include 'head.html' %}

          {% block header %}{% endblock %}
  </head>
  <body>
    <header>
        {% include 'nav.html' %}
        {% block subnav %}{%endblock%}
    </header>
 <div class="container">
                <div class="row"><br><br>
                    {% block content %}{% endblock %}
                </div>
 </div>
    {% include 'footer.html' %}
  </body>

</html>
