{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Refund Policy{{ block.super }}{% endblock %}

{% block content %}
<body id="top" class="scrollspy">



            <div class="col s12 m15">
                <div class="card-panel">
                    <span  style="font-size: 30pt; font-weight: lighter;">
                Refund Policy
            </span><br>
                    <font size="3.0">
                        <p>

                &emsp;&emsp;If we are unable to submit the Income Tax Returns by the end of next two working days,
                provided all the queries asked from you is fully furnished to us after payment.<br><br>
                &emsp;&emsp;Any Delay in providing us these details, the delay will not be counted to determine the time schedule for completion of the service.
                <br><br>For any queries on refund of fees, please write to <a>easyreturns.tax@gmail.com</a>.



                        </p>
                    </font>
                </div>
            </div>

</body>
{% endblock %}


