{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Terms and Conditions{{ block.super }}{% endblock %}

{% block content %}
<body id="top" class="scrollspy">



            <div class="col s12 m15">
                <div class="card-panel">

                   <span  style="font-size: 30pt; font-weight: lighter;">
                        Terms & Conditions
                    </span>

                <font size="3.0">

                <p>PLEASE READ THESE TERMS OF USE CAREFULLY BEFORE USING THIS SITE.<br></p>
<p>
&emsp;&emsp;By admittance to this web site, you are agreeing to be bound by these web site Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws.The materials contained in this web site are protected by applicable copyright and trade mark law.
<strong>Easyreturns.tax</strong> reserves the right, in its sole discretion, to modify or update these provisions at any time.
<br><br>Please check this page each time you visit this website for the most current information.

<br><br><b>PRIVACY POLICY:</b><br>
<br>
<strong>General:</strong><br>
&emsp;&emsp;Easyreturns.tax is a full Income Tax consulting firm offering tax return preparation, tax planning and tax compliance to a wide variety of
                clients ranging from individuals to small to medium-sized businesses since 1998.
                We at Easyreturns are sensitive to customer concerns and ensure absolute confidentiality and privacy of any information
                that is given to us. Customers can specify their preferred method of contact with us and we will not disclose
                their identity without their expressed or written consent. Under no circumstances will Easyreturns, its advisors,
                agents, representatives and employees are liable or responsible for any damage or inconvenience caused or alleged to
                be caused by the use of our services. Our liability relating to any product or service shall be strictly limited to
                the amount of fees paid to and received by us for such product or service. Easyreturns.tax shall not be liable for
                special, indirect or consequential damages, including lost profits, even if it has been advised of the possibility
                of such damages, arising from any cause whatsoever, including negligence.
<br><br>
<strong>Authorisation:</strong><br>

&emsp;&emsp;Once you upload Form 16(Salary Certificate) in our Portal, Easyreturns.tax will be deemed to have been authorised to<br>

&emsp;&emsp;<b>•</b>&emsp;&emsp;File his/her the income tax return for the relevant year for which the user has uploaded Form 16.<br>

&emsp;&emsp;<b>•</b>&emsp;&emsp;Register the details of the user on TRACES website (which verifies the correctness of the TDS Certificate).<br>

&emsp;&emsp;<b>•</b>&emsp;&emsp;Call him/her in case some queries arise in the process of filing Income Tax Returns.<br><br>

In case the user uploads Notice received from Income Tax Department for resolution,
Easyreturns.tax will be deemed to have been authorised to take necessary actions for cancellation of the
same by taking necessary actions with the department.<br><br>

<strong>Cookies:</strong><br>
&emsp;&emsp;A cookie is small text files that websites put on your computer to store information about you and your preferences.
                On our website, we use cookies to track users' progress through the site, allowing us to make improvements based on usage data. The information in a cookie does not contain any personally identifiable information you submit to our site.
Once you close your browser, our access to the cookie terminates. You have the ability to accept or decline cookies.
                Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer.
                If you choose not to accept the cookie, this will not affect your access to the majority of information available on our website.
                However, you will not be able to make full use of our online services.<br><br>
<strong>Security:</strong><br>
&emsp;&emsp;We as a team have a legal duty to protect the confidentiality of taxpayer information. We take all reasonable steps to protect
                any information you submit via our website, both online and offline, in accordance with relevant legislation in India.
We take all appropriate steps to protect your personally identifiable information as you transmit your information from
                your computer to our site and to protect such information for loss, misuse, and unauthorized access, disclosure,
                alteration, or destruction. We use technologies to safeguard your data, and operate strict security standards
                to prevent any unauthorized access to it.
Where you use passwords, ID numbers, or other special access features on this site, you also have a responsibility to take
                reasonable steps to safeguard them.
<br><br><strong>Data protection and integrity:</strong><br>
&emsp;&emsp;Easyreturns has reasonable security policies and procedures in place to protect personal information from unauthorized loss,
                misuse, alteration, or destruction. Despite our best efforts, however, security cannot be absolutely guaranteed against
                all threats. To the best of our ability, access to your personal information is limited to those who have a need to know.
                We also make reasonable efforts to retain personal information only for so long as the information is necessary to comply
                with an individual's request or until that person asks that the information be deleted.
<br><br><strong>Unsuitable Content:</strong><br>
&emsp;&emsp;When accessing the Easyreturns.tax website or using our services, you agree not to upload, download,
                display, perform, transmit, or otherwise distribute any content that is <br>
                &emsp;&emsp;<strong>(i)</strong> libelous, defamatory, obscene, pornographic, abusive, or threatening;
                <br>&emsp;&emsp;<strong>(b)</strong> advocates or encourages conduct that could constitute a criminal offense,
                give rise to civil liability, or otherwise violate any applicable local, state, national, or
                foreign law or regulation; or
                <br>&emsp;&emsp;<strong>(c)</strong> advertises or otherwise solicits funds or is a solicitation for goods or services. AO Tax reserves the right to terminate or delete such material from its servers
<br><br><strong>Intellectual Property Laws:</strong><br>
&emsp;&emsp;Easyreturns.tax has a legal duty to protect the confidentiality of taxpayer information.
                We take all reasonable steps to protect any information you submit via our website, both online and offline,
                in accordance with relevant legislation in India.
We take all appropriate steps to protect your personally identifiable information as you transmit your information from your
                computer to our site and to protect such information for loss, misuse, and unauthorized access, disclosure,
                alteration, or destruction. We use technologies to safeguard your data, and operate strict security standards
                to prevent any unauthorized access to it.
Where you use passwords, ID numbers, or other special access features on this site, you also have a responsibility to
                take reasonable steps to safeguard them.
<br><br><strong>Copyrights:</strong><br>
&emsp;&emsp;All Site content & design, text, graphics, the selection and arrangement thereof, ALL RIGHTS RESERVED to AO Tax.
<br><br><strong>Disclosure:</strong><br>
&emsp;&emsp;Except as otherwise stated, we may use information you provide via this site to improve the content,
                to customize the site to your preferences, to communicate information to you (if you have requested it),
                for internal marketing and research purposes, and for the purposes specified in this Privacy Policy.
<br><br><strong>Notification of changes to our Privacy Policy:</strong><br>
&emsp;&emsp;We will post details of any changes to our Privacy Policy on the website to help
                ensure you are always aware of the information we collect, how we use it, and in what circumstances,
                if any, we share it with other parties.
<br><br>
For any further questions, you may simply call us at <strong>+91 9839478950 / 7710980947 </strong> or send an email to
                <strong><a>easyreturns.tax@gmail.com</a></strong>, so that one of our Tax Experts can contact you and
                advice on various tax saving tools applicable to you.
            </p>
                    </font>
                </div>
            </div>

</body>
{% endblock %}


