{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load material_form %}

{% block title %}Password Reset{{ block.super }}{% endblock %}


{% block content %}

{% if validlink %}

<div class="card">
    <div class="card-content">
        <span style="font-size: 25pt; font-weight: lighter">Change Password</span><br>

        <p>

                <strong>NOTE:</strong>&emsp;PLEASE KEEP IN MIND FOLLOWING POINTS WHILE CHANGING YOUR PASSWORD.<br>

                    &emsp;&emsp;&emsp;<strong>1.</strong>Your password can&#39;t be too similar to your other personal information.<br>
                    &emsp;&emsp;&emsp;<strong>2.</strong>Your password must contain at least 8 characters.<br>
                    &emsp;&emsp;&emsp;<strong>3.</strong>Your password can&#39;t be a commonly used password.<br>
                    &emsp;&emsp;&emsp;<strong>4.</strong>Your password can&#39;t be entirely numeric.<br>


        </p>


<form method="post" action="."  class="viewform">
  {% csrf_token %} 


                <div class="input-field col s6">
                  <i class="mdi-action-lock-outline prefix"></i>
                  <input id="icon_prefix1" type="password" name="new_password1" class="validate">
                  <label for="icon_prefix1">New Password</label>
                </div>



                <div class="input-field col s6">
                  <i class="mdi-action-lock prefix"></i>
                  <input id="icon_prefix2" type="password" name="new_password2" class="validate">
                  <label for="icon_prefix2">Confirm New Password</label>
                </div>

                <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Submit' %}" />
</form>

</div></div>
{% else %}

  <div class="card">
      <div class="card-content">
            <span style="font-size: 30pt; font-weight: lighter">Password reset failed</span><br>
      </div>
  </div>
{% endif %}


{% endblock %}
