{% extends "base.html" %}
{% load i18n %}
{% load material_form %}

{% block title %}Reset Completed{{ block.super }}{% endblock %}

{% block content %}



<div class="card">

    <div class="card-content">
        <span style="font-size: 25pt; font-weight: lighter">Password reset successfully</span><br>

    <div class="card-action.blue">
           <p><font size="3.5">
                <a href="{% url 'auth_login' %}">Log back in</a> to file your return.
               </font> </p>
    </div>
    </div>

</div>
{% endblock %}
