{% extends "base.html" %}
{% load i18n %}
{% load material_form %}

{% block title %}Password Successfully Changed{{ block.super }}{% endblock %}

{% block content %}
<!--------------------------------------------------------------->
<div class="col m5 l3 white">
                    <div class="card collection">

                        <a href="{% url 'settings' %}" class="collection-item" >Profile</a>

                        <a href="{% url 'auth_password_change' %}" class="collection-item active ">Change Password</a>

                        <a href="#" class="collection-item ">FAQs</a>

                        <a href="{% url 'auth_logout' %}" class="collection-item ">Log Out</a>

                    </div>
                </div>


<!------------------------------------------------------------------------------------------------------->
<div class="col s4 m7 l9 white">
    <div class="card">
        <div class="card-content">
            <span style="font-size: 25pt; font-weight: lighter">Your password has been successfully changed</span><br>
        </div>
    </div>
</div>
{% endblock %}
