{% extends "base.html" %}
{% load i18n %}
{% load material_form %}

{% block title %}Reset{{ block.super }}{% endblock %}

{% block content %}

<div class="card">

    <div class="card-content">
        <span style="font-size: 25pt; font-weight: lighter">Reset Password</span><br>
            <form method="post" action="." class="viewform">
                    {% csrf_token %}

                    {% form %}
                        {% part form.email prefix %}<i class="mdi-communication-email prefix"></i>{% endpart %}
                    {% endform %}

                    <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Submit' %}" />

            </form>
<br>
    </div>

</div>

{% endblock %}
